<div style="display: flex; justify-content: space-between;">

    <div style="display: flex; align-items: center;">
        <a href="{{ .Get 1 }}" target="_blank" rel="noopener noreferrer" style="margin-right: 0.5rem; ">
            <img style="width: 40px" src="{{ .Get 2}}" alt="">
        </a>
        <h4>
            <a href="{{ .Get 1 }}" target="_blank" rel="noopener noreferrer" style="color: grey; text-align: center; align-items: center; text-decoration: none!important;;">
                {{ .Get 0 }} 
            </a>
        </h4>
       
    </div>
    <div style="display: flex; align-items: center;">
        <a href="{{ .Get 4 }}" target="_blank" rel="noopener noreferrer" style="margin-right: 0.5rem; ">
            <img style="width: 40px" src="{{ .Get 5}}" alt="">
        </a>
        <h4>
            <a href="{{ .Get 4 }}" target="_blank" rel="noopener noreferrer" style="color: grey; text-align: center; align-items: center; text-decoration: none!important;;">
                {{ .Get 3 }} 
            </a>
        </h4>
       
    </div>
    <div style="display: flex; align-items: center;">
        <a href="{{ .Get 7 }}" target="_blank" rel="noopener noreferrer" style="margin-right: 0.5rem; ">
            <img style="width: 40px" src="{{ .Get 8}}" alt="">
        </a>
        <h4>
            <a href="{{ .Get 7 }}" target="_blank" rel="noopener noreferrer" style="color: grey; text-align: center; align-items: center; text-decoration: none!important;;">
                {{ .Get 6 }} 
            </a>
        </h4>
       
    </div>
</div>